* {
        margin: 0px;
        padding: 0px;
}
.header1{
        height: 55px;
        width: 100%;
        background-color: blue;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
}
.logo{
        height: 130px;
        width: 140px;
        margin-left: -55px;
}
.deliveryIndia{
        text-decoration: none;
        color: white;
        align-items: flex-end;
}
.delivery{
        font-size: 0.8rem;
        color: #cccccc;
}
.India{
        font-size: 1.2rem;
}
.serchbar{
        display: flex;
        width: 45rem; 
        height: 2.3rem;       
}
.allbutton{
        border-top-left-radius: 15%;
        border-bottom-left-radius: 15%;
        background-color: rgba(255, 255, 255, 0.756);
}
.searchinput{
        width: 100%;
}
.searchbutton{
        width: 3.5rem;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%; 
        background-color: rgb(244, 172, 28);  
        display: flex;
        justify-content: center;
        align-items: center;     
}
.searchbuttono{
        background-color:rgb(244, 172, 28) ;
        color: green;
        border: none;
        color: white;
}
.hello{
        font-size: 0.8rem;
        color: #cccccc;
}
.accountlist{
        font-size: 1.2rem;        
}
.helloaccount{
        text-decoration: none;
        color: white
}
.returnsorders{
        text-decoration: none;
        color: white;
}
.returns{
        font-size: 0.8rem;
        color: #cccccc;
}
.orders{
        font-size: 1.2rem; 
}
.mycart{
        display: flex;
        text-decoration: none;
        color: white;
        align-items: flex-end;
}
.my{
        font-size: 1.8rem; 
}
.cart{
        font-size: 1rem;
        color: #cccccc;
}
                /* Header 2 */

.header2{
        height: 39px;
        width: 100%;
        background-color: #082929;
        color: white;
        display: flex; 
        align-items: center;
}
.div{
        margin-left: 40px;
}
.heropic{
        background-image: url("hero.amz.jpg");
        background-size: cover;
        width: 100%;
        height: 311px;
        /* margin-left: 10px; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
}
.paragrph{
        height: 40px;
        background-color: white;
        width:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
}
.read{
        font-size: 14px;

}
.click{
        font-size: 14px;
        color: rgb(142, 138, 138);
}
                   /* shop section */

.content{
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-evenly;
        background-color: rgba(246, 18, 151,0.35);
}
.box{
        height: 450px;
        width: 24%;
        background-color: white;
        margin-bottom: 2rem;
}
.essential{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.4rem;
        background-size: contain;
}
.box11{
        padding-top: 15px;
        padding-left: 1rem;
}
.box12{
        padding-left: 1rem;
        color: rgb(29, 150, 242);
}
.fashion{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
}
.gaming{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
        background-repeat: no-repeat;
}
.gameon{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
}
.bags{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
}
.kitchen{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
        background-repeat: no-repeat;
}
.homearrivals{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
        background-repeat: no-repeat;
}
.toys{
        height: 350px;
        width: 350px;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        background-size: contain;
}
                /*fotter section*/

.footPanelone{
        background-color: #37475a;
        color : white;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

}
.footPaneltwo{
        height: 300px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-evenly;
}
ul{
        margin-top: 2em;
}
ul a {
        display: block;
        margin-top: 5px;
        font-size: 15px;
}
.footpanelthree{
        height: 55px;
        background-color: black;
        border-top: 0.5px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
}
.logo2{
        height: 55px;        
}
.border{
        border: 2px solid transparent;
}
.border:hover {
        border: 2px solid white;
}
.div{
        border: 2px solid transparent;
}
.div:hover{
        border: 2px solid white;
}


